.Owner {
    font-weight: bold;
    color: red;
    margin-right: 8px;
}

.Date {
    font-weight: lighter;
    color: #747481;
}

.Heart {
    color: #e72525;
}

.Heart:hover {
    color: lightseagreen;
}

.HeartOutline:hover {
    color: #e72525;
}